<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:label="Affranchi"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="MissingApplicationIcon"
        android:description="@string/app_description">
    </application>
</manifest>
